<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>동적쿼리 if문 해보기</title>
</head>
<body>
<form action="/memberList" method="post">
  
<input type="checkbox" name="chId"/>ID
<input type="checkbox" name="chPw"/>PW
<input type="checkbox" name="chName"/>NAME
<input type="checkbox" name="chAddr"/>ADDR
<input type="submit" value="회원정보 요청"/>
<!--
<input type="checkbox" name="check" value="id"/>ID
<input type="checkbox" name="check" value="pw"/>PW
<input type="checkbox" name="check" value="name"/>NAME
<input type="checkbox" name="check" value="addr"/>ADDR

-->
</form>
</body>
</html>